.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .button {
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    font-size: 19px;
    cursor: pointer;
    color: black;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    color: white;
    background: #4f4f4f;
    border-color: #ffffff;
  }
  
  .copiedMessage {
    font-size: 19px;
    color: white;
    opacity: 0;
  }
  
  .animate {
    animation: fadeInOut 3s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    80% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  